<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/sanpham.css" rel="stylesheet" />
    <script src="~/Scripts/Javanavbar.js"></script>
</head>
<body>
    <div id="top">
        <img src="~/Content/NewFolder1/Co-Vietnam.png" alt="Lá cờ Việt nam " title="Lá cờ Việt Nam" id="size-img" />
        <span id="vn-text">VN</span>
        <span id="en-text">EN</span>
        <ul class="fm-menu">
            <img src="~/Content/NewFolder1/—Pngtree—phone icon_5627246.png" alt="Phone Icon" class="phone-icon" />
            <li><a href="hotline" class="fm-link-menu"><strong>1800 7200</strong></a></li>
            <li><a href="GioiThieu" class="fm-link-menu">Giới Thiệu</a></li>
            <li><a href="KhuyenMai" class="fm-link-menu">Khuyến Mãi</a></li>
            <li><a href="GiamGiaDacBiet" style="color:red" class="fm-link-menu"><strong style="color:red">Giảm Giá Đặc Biệt</strong></a></li>
        </ul>

    </div>


    <div id="second-top">
        <div id="left-menu">
            <img id="point-menu" width="30" height="22" src="https://nhaxinh.com/wp-content/themes/flatsome-child/assets/images/menu-bar.png" alt="Menu bar" data-lazy-src="https://nhaxinh.com/wp-content/themes/flatsome-child/assets/images/menu-bar.png" data-ll-status="loaded" class="entered lazyloaded">
            <img src="~/Content/NewFolder1/logo-nha-xinh-moi-200422.png" alt="Lá cờ Việt nam " title="Lá cờ Việt Nam" id="size-logo" />


            <ul class="fm-menu">
                <li>
                    <a href="#" class="fm-link-menu">Sản phẩm</a>
                    <ul class="sub-menu">
                        <li><a href="#">Sofa</a></li>
                        <li><a href="#">Sofa góc</a></li>
                        <li><a href="#">Ghế thư giãn</a></li>
                    </ul>
                </li>
                <li><a href="#" class="fm-link-menu">Phòng</a></li>
                <li><a href="#" class="fm-link-menu">Bộ Sửu Tập</a></li>
                <li><a href="#" class="fm-link-menu">Thiết Kế Nội Thất</a></li>
                <li><a href="#" class="fm-link-menu">Cửa Hàng 360 Độ</a></li>
                <li><a href="#" class="fm-link-menu">Góc Cảm Hứng</a></li>


            </ul>

        </div>
        <div class="wrapper" style="z-index:1;">
            <input type="text" style="border-radius:20px;font-size: 17px;height: 31px;" placeholder=" Tìm kiếm">
            <button> <img src="~/Content/NewFolder1/KinhLup2.svg" style="left: -7px; width: 20px; height: 20px; position: relative; top: 6px;" /></button>
        </div>




    </div>
    <div style="height:0px;"> <h1 style="position: relative; top: 244px; right: 512px; color: white;">BỘ SƯU TẬP MỚI COASTAL</h1></div>

    <div>
        <div>
            <style>
                * {
                    padding: 0;
                    margin: 0;
                }

                a {
                    text-decoration: none;
                }

                #wap {
                    width: 182px;
                    display: 1px solid #333;
                    position: relative;
                    top: -217px;
                    left: 640px;
                    background-color: white;
                }

                .btn {
                    padding: 15px 25px;
                    display: inline-block;
                    text-transform: uppercase;
                    color: #333;
                    font-weight: bold;
                }
            </style>

            <img src="~/Content/NewFolder1/Nhaxinh.jpg" style="width:100%">

            <div id="wap">
                <a href="" class="btn">
                    Tìm Hiểu Thêm
                </a>

            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div id="div-null">

    </div>
    <div style="height:580px;">
        <div style="height:0px;">
            <h1 style="position: relative; top: 255px; right: -320px; color: white;">SOFA</h1>

        </div>

        <div id="div-sofa">
            <a href="https://nhaxinh.com/danh-muc/phong-khach/sofa/">
                <img style="width:100%;height:580px" src="https://nhaxinh.com/wp-content/uploads/2023/07/BST-COASTAL-SOFA-VANG-2.jpg" />
            </a>
        </div>




        <div id="div-other" style="position: relative;">
            <div id="div-Banan" style="position: relative;">
                <a href="https://nhaxinh.com/danh-muc/phong-an/ban-an/">
                    <img style="height:280px; width:340px ;" src="https://nhaxinh.com/wp-content/uploads/2023/04/nha-xinh-banner-ban-an-vuong-24423.jpg" />
                    <h1 style="position: absolute; top: 116px; right: 68px; color: white;">BÀN ĂN</h1>
                </a>
            </div>
            <div id="div-Ghe" style="position: relative;">
                <a href="https://nhaxinh.com/danh-muc/phong-ngu/giuong/">
                    <img style="height: 280px; width: 340px ;" src="https://nhaxinh.com/wp-content/uploads/2022/01/giuong-ngu-pio-1.jpg" />
                    <h1 style="position: absolute; top: 116px; right: 68px; color: white;">GIƯỜNG</h1>
                </a>
            </div>
            <div id="div-Giuong" style="position: relative;">
                <a href="https://nhaxinh.com/danh-muc/phong-khach/armchair/">
                    <img style="height: 280px; width: 340px ;" src="https://nhaxinh.com/wp-content/uploads/2022/03/Armchair-TUDOR-VELVET-PETROL-398217-3.jpg" />
                    <h1 style="position: absolute; top: 116px; right: 40px; color: white;">ARMCHAIR</h1>
                </a>
            </div>
            <div id="div-GheAn" style="position: relative;">
                <a href="https://nhaxinh.com/danh-muc/phong-an/ghe-an/">
                    <img style="height: 280px; width: 340px;" src="https://nhaxinh.com/wp-content/uploads/2021/11/nha-xinh-ghe-an-phong-an-749x800.jpg" />
                    <h1 style="position: absolute; top: 116px; right: 68px; color: white;">GHẾ ĂN</h1>
                </a>
            </div>
        </div>

        <div style=" width:100%;height:45px; ">


            <input type="text" style="width: 93%; height: 45px; position: relative; border: 1px solid black; top: 10px; background-color: white" placeholder="Search.." name="search">


            <button> <img src="~/Content/NewFolder1/KinhLup2.svg" style=" width: 74px; height: 47px; position:relative;bottom:-1401px; right:1px" /></button>
        </div>

    </div>
   
    <div>
        @RenderBody()
    </div>


</body>
</html>
